@import "tailwindcss";

:root {
  --color-bg: #f5f5f5;
  --color-text: #232323;
  --color-primary: #007BFF;
  --color-accent: #00C896;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}